.header {
    background-color: #edc7b7;
    color: #123c69;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    
}

a {
    text-decoration: none;
    
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header img {
    height: 30px;
    display: block;
}

.logo {
display: flex;
align-items: center;
}

.account {
    font-size: 35px;
    margin-bottom: 12px;
}

.mat-menu-content {
    width: 300px;
}