<div class="login-wr">
  <h2>Login</h2>

  <div class="alert" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="input">
      <input formControlName="email" type="email" placeholder="Email" />
      <div
        class="validation"
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      >
        <small *ngIf="form.get('email')?.errors?.required"
          >Field must not be empty</small
        >
        <small *ngIf="form.get('email')?.errors?.email"
          >Field must be email</small
        >
      </div>
    </div>

    <div class="input">
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
      />
      <div
        class="validation"
        *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      >
        <small *ngIf="form.get('password')?.errors?.required"
          >Field must not be empty</small
        >
      </div>
    </div>

    <a routerLink="/register"> <p>Don't have account? Register</p></a>
    <button
      type="submit"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
    >
      Login
    </button>
  </form>
</div>
