<mat-toolbar class="toolbar">
  <button
    mat-stroked-button
    class="icon"
    aria-label="button with share icon"
    (click)="openDialogShare()"
  >
    Share
    <mat-icon>share</mat-icon>
  </button>
  <button
    mat-raised-button
    aria-label="add column"
    color="primary"
    (click)="openDialogColumns()"
  >
    Add column
  </button>

  <button
    mat-flat-button
    style="background-color: #bab2b5"
    (click)="exportexcel()"
  >
    Export
    <mat-icon> cloud_download</mat-icon>
  </button>
</mat-toolbar>

<table id="excel-table">
  <tr>
    <th>Column</th>
    <th *ngFor="let column of columns">{{ column.name }}</th>
  </tr>

  <tr *ngFor="let post of longestColumn?.posts; let idx = index">
    <td>Post {{ idx + 1 }}</td>
    <td *ngFor="let column of columns">{{ column.posts[idx]?.text }}</td>
  </tr>
</table>
