<mat-toolbar class="toolbar">
  <h2 appContentEdit class="name">{{ name }}</h2>
  <div>
    <div class="buttons">
      <button
        mat-stroked-button
        class="icon"
        aria-label="share button"
        (click)="openDialogShare()"
      >
        Share
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-raised-button
        aria-label="add column"
        color="primary"
        class="add"
        (click)="openDialogColumns()"
      >
        Add column
      </button>
      <button
        mat-flat-button
        class="export"
        (click)="exportexcel()"
        aria-label="export button button"
      >
        Export
        <mat-icon>cloud_download</mat-icon>
      </button>
    </div>
    <div class="menu">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openDialogShare()" mat-menu-item>
          <mat-icon>share</mat-icon>Share</button
        ><button (click)="openDialogColumns()" mat-menu-item>
          <mat-icon>add</mat-icon>Add Column</button
        ><button (click)="exportexcel()" mat-menu-item>
          <mat-icon>cloud_download</mat-icon>Export
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<table id="excel-table">
  <tr>
    <th>Column</th>

    <th *ngFor="let column of columns">{{ column.name }}</th>
  </tr>

  <ng-container *ngFor="let post of longestColumn?.posts; let idx = index">
    <tr>
      <td>Post {{ idx + 1 }}</td>
      <td *ngFor="let column of columns">{{ column.posts[idx]?.text }}</td>
    </tr>
    <tr>
      <td>Likes</td>
      <td *ngFor="let column of columns">{{ column.posts[idx]?.likes }}</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td *ngFor="let column of columns">
        {{ parseComments(column.posts[idx]?.comments) }}
      </td>
    </tr>
  </ng-container>
</table>
