.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
 .mat-card {
    cursor: grab;
    // background: #ac3b61;
    color: rgb(230, 230, 230);
    position: relative;
    margin-top: 20px;
 }

 .purple {
  background: #802bb1;
 }
 .blue {
  background: #4056a1;
 }
 .green {
  background: #116466;
 }
 .red {
  background: #ac3b61;
 }
.yellow {
  background: #d79922;
}

 .mat-card-title {
  font-size: 14px;
   margin: 0;
   padding: 0 20px 0 5px;
   word-wrap: break-word;
 }

.mat-card-actions {
  padding: 0;
  margin-bottom: 0;
  button {
    margin-right: 6px;
  }
}

 .black {
   color: rgb(58, 58, 58);
 }

 .form {
   position: relative;
   margin: 10px 0;
 }

 .textarea {
   background-color: #ececec;
   width: 99%;
   color: rgb(94, 94, 94);
   padding: 5px 0 0 5px;
   font-family: Arial, Helvetica, sans-serif;
 }

 .textarea:focus {
   outline: 1px solid rgb(224, 224, 224);
 }

 .more {
     position: absolute;
     top: 3px;
     right: 0;
     margin-right: 0;

 }

 .button_confirm {
  position:absolute;
  bottom: 0;
  right: -5px;
 
}

.button_discard {
  position:absolute;
  bottom: 0;
  right: 20px;
}

.comments {
  word-wrap: break-word;
  font-size: 12px;
  
  &>div {
    margin: 10px 0;
  }

  p{
    margin-bottom: 0;
  }
}

.author {
  color: rgba(230, 230, 230, 0.486);
  display: flex;
  justify-content: space-between;

  .mat-icon {
    cursor: pointer;
    position: relative;
    bottom: 5px;
    font-size: 20px;
  }
}
