<mat-card cdkDrag [class]="color">
  <mat-card-title>{{ post.text }}</mat-card-title>
  <button
    mat-icon-button
    [mat-menu-trigger-for]="menu"
    aria-label="options"
    class="more"
  >
    <mat-icon class="grey">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="deletePost()" mat-menu-item class="delete_btn">
      <mat-icon>delete</mat-icon>Delete post
    </button>
  </mat-menu>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="addLike()" class="like_btn">
      <mat-icon [ngClass]="{ black: !liked }">thumb_up_off_alt</mat-icon>
      {{ post.likes }}
    </button>
    <button
      mat-icon-button
      (click)="showComments = !showComments"
      class="toggle_comments"
    >
      <mat-icon [ngClass]="{ black: post.comments?.length == 0 }"
        >chat_bubble_outline</mat-icon
      >
      {{ post.comments?.length }}
    </button>
  </mat-card-actions>

  <div *ngIf="showComments">
    <form class="form" [formGroup]="form" (ngSubmit)="submitComment()">
      <textarea
        rows="3"
        formControlName="text"
        placeholder="Leave your comment"
        class="textarea"
      ></textarea>
      <button
        type="button"
        mat-icon-button
        color="error"
        class="button_discard"
        (click)="form.reset(); showComments = !showComments"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        class="button_confirm"
        [disabled]="!this.form.valid"
      >
        <mat-icon>done</mat-icon>
      </button>
    </form>

    <div class="comments">
      <div *ngFor="let comment of post.comments; let idx = index">
        <p>
          {{ comment.text }}
        </p>
        <div class="author">
          <small>{{ comment.date | amTimeAgo }} by {{ comment.author }}</small>
          <mat-icon (click)="deleteComment(idx)">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</mat-card>
