:host {
  flex: 1 0 0;
  padding: 10px;
  color: #123c69;
  box-sizing: border-box;
  min-width: 250px;
  max-width: 100%;
}

.list {
  min-height: 60px;

  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.title {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
    word-wrap: break-word;
    max-width: 95%;
  }

  button {
    position: relative;
    bottom: 6px;
  }
}

.textarea {
  margin-top: 20px;
  padding-bottom: 0;
}

.grey {
  color: #999;
}

.form {
  min-width: 150px;
  width: 100%;
  position: relative;
}

.example-full-width {
  width: 100%;
}

.button_add {
  width: 100%;
  color: #8c8c9e;
  background: rgba(94, 94, 113, 0.08);
  padding: 0;
}

.button_confirm {
  position: absolute;
  bottom: 18px;
  right: 13px;
}

.button_discard {
  position: absolute;
  bottom: 18px;
  right: 38px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
